

.right-photo-con{
    max-width: 600px;
    max-height: 800px;
    height: 800px;
    width: 600px;
    overflow: hidden;

    margin-top: 20%;
    margin-bottom: 20%;

    border: solid 3px black;
}
